* {
    margin: 0;
    padding: 0;
}

@import url(../font/stylesheet.css);

body {
    background-color: #2A2F5D;
    color: #fefefe;
    font-family: 'Montserrat', sans-serif;
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%); 
    }
    to {
        transform: translateX(0); 
    }
}

/* FIRST SECTION */

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 200px 0 200px;
}

h1{
    animation: slideInFromLeft 2s;
    font-family: 'Proxima Nova Rg';
    font-weight: bold;
    font-style: normal;
    font-size: 100px;
    letter-spacing: 2.5px;
}

.h2-title{
    animation: slideInFromLeft 2s;
    font-family: 'Proxima Nova Rg';
    font-weight: normal;
    font-style: normal;
    font-size: 80px;
    letter-spacing: 2.5px;
}

.subtitle {
    color: #5C77AC;
    animation: slideInFromLeft 2.5s;
    font-family: 'Proxima Nova Lt';
    font-weight: 300;
    font-style: normal;
    font-size: 60px;
}

.img-first{
    width: 450px;
    height: 600px;
    border-radius: 10px;
}

/* ICONS NAV */

.github-icon{
    width: 48px;
    height: 48px;
    filter: invert(100%);
}

.linkedin-icon{
    width: 39px;
    height: 39px;
    filter: invert(100%);
}

.behance-icon{
    width: 50px;
    height: 50px;
    filter: invert(100%);
}

.linktree-container {
    position: fixed;
    margin: 0 0 0 50px;
}

.linktree{
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
}

.linktree li {
    margin-bottom: 30px;
}

.linktree li a img {
    transition: transform 0.3s; 
}

.linktree li a img:hover {
    transform: translateY(-5px); 
}

/* SECOND SECTION */

.second-section{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 235px 200px 0 200px;
}

.text-section {
    display: flex;
    margin-top: 30px;
}

.h2-section{
    color: #5C77AC;
    font-size: 50px;
    font-weight: 600;
    font-family: 'Proxima Nova Lt';
    font-style: normal;
}

.p-title-section {
    color: #FEFEFE;
    font-size: 50px;
    font-weight: 600;
    font-family: 'Proxima Nova Lt';
    font-style: normal;
}

.img-section{
    width: 343px;
    height: 343px;
}

.p-section {
    width: 750px;
    margin-top: 40px;
    line-height: 40px;
}

/* STACK SECTION */

.stack-container{
    width: 100%;
    height: 250px;
    background-color: #465889;
    margin-top: 90px;   
    display: flex;
    justify-content: center; 
    align-items: center;
}

.stackicon {
    width: 90px;
    height: 90px;
    margin: 40px;
}

.css3-icon .git-icon .html-icon .figma-icon .js-icon {
    transition: transform 0.5s ease;
}

.css3-icon .git-icon .html-icon .js-icon .figma-icon:hover {
    transform: scale(1.2);
}

/* THIRD SECTION */

.third-section {
    margin: 75px 200px 0 200px;
}

.title-project{
    font-size: 40px;
    margin-bottom: 25px;
    font-weight: 600;
    line-height: normal;
    font-family: 'Proxima Nova Rg';
    font-weight: normal;
    font-style: normal;

    letter-spacing: 2.5px;
}

.projects {
    text-align: center; 
    margin-top: 35px;
    margin-bottom: 60px;
}

.front-img {
    width: 1018px;
    height: 473px;
    flex-shrink: 0;
    border-radius: 40px;
}

.icons-container {
    display: flex;
    justify-content: center;
}

.projects-icons{
    width: 51px;
    height: 51px;
    flex-shrink: 0;
    margin: 20px;
}

/* CONTACT FORM */

.form-container{
    margin: 100px 200px 0 200px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

label {
    font-size: 23px;
    font-family: 'Proxima Nova Rg';
    font-weight: normal;
    font-style: normal;
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
}

input {
    width: 500px;
    height: 30px;
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;
    border-style: none;
    background-color: #465889;
    color: #FEFEFE;
}

.text-area {
    width: 500px;
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;
    background-color: #465889;
    border-style: none;
    color: #FEFEFE;
}

.button-send {
    height: 50px;
    width: 150px;
    font-size: 25px;
    font-weight: 200;
    padding: 5px;
    margin-top: 20px;
    border-radius: 10px;
    border-style: none;
}

.button-send:hover {
    background-color: #465889;
    color: #FEFEFE;
    cursor: pointer;
    transition: 0.5s;
}

/* FOOTER */

.footer-container{
    width: 100%;
    height: 100px;
    background-color: #465889;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
}

.p-footer{
    margin: 0 50px 20px 0;
}

.a-footer{
    text-decoration: none;
    color: #FEFEFE;
}